{% extends 'layout.html' %}
    {% block page2%}
    
    <h1>hello</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo placeat non enim sunt eum distinctio eveniet, sit ex, eos sequi nulla error deserunt! Ea, dignissimos! Reprehenderit dolorum praesentium culpa aperiam veritatis sed debitis. Voluptate molestiae, inventore esse dolor laudantium expedita sunt veritatis vero magnam numquam, corrupti, cum eum dolorum velit veniam deserunt dolore! Voluptatem sapiente consequuntur vitae maiores velit ratione corrupti, enim atque perferendis officia nostrum beatae necessitatibus? Beatae, ea iste autem tempora corrupti atque ducimus praesentium veritatis quibusdam quisquam accusantium soluta pariatur sapiente dolor consectetur enim vero rem. Est ex, soluta at eveniet illum architecto perspiciatis quia nemo dicta.</p>
        {% endblock %}