{%extends 'layout.html'%}
 
 {%block formpage%}
<!-- <div style="color:rgb(0, 113, 128);
    text-align:center;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    text-decoration:underline;
    background-image: url('/static/image/bat.jpg');
    background-attachment: fixed;
    background-size:cover;
    padding:10px;
    border:2px solid black;
    box-shadow: 5px 10px 18px #888888;"><h1 style="font-size: xx-large;">REGISTER FORM</h1>
<h1>{{n}}</h1>
<form action="" method="post">
    {% csrf_token %}
    {%for f in form %}
    {{f.label_tag}} <br>
    {{f}} <br>
    <div style="color: brown;">{{f.errors}}</div>
    {%endfor%}

    <button onclick="fun1()">Submit</button>
    </form>

</div> -->
<div class="form-container">
<h1 class="form-title">REGISTRATION FORM</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_name">NAME:</label>
        <input type="text" name="name" id="id_name" placeholder="Enter your name">
        <div class="error-message">{{form.name.errors}}</div>
    </div>

    <div class="form-group">
        <label for="id_age">AGE:</label>
        <input type="number" name="age" id="id_age" placeholder="Enter your age">
        <div class="error-message">{{form.age.errors}}</div>
    </div>

    <div class="form-group">
        <label for="id_email">EMAIL:</label>
        <input type="email" name="email" id="id_email" placeholder="Enter your email">
        <div class="error-message">{{form.email.errors}}</div>
    </div>

    <div class="form-group">
        <label>GENDER:</label>
        <div class="radio-group">
            {% for radio in form.gender%}
            <label class="radio-label">{{radio.tag}} {{radio.choice_label}}</label>
            {% endfor %}
        </div>
        <div class="error-message">{{form.gender.errors}}</div>
    </div>

    <div class="form-group">
        <label for="id_file">UPLOAD FILE:</label>
        <input type="file" name="file" id="id_file">
        <div class="error-message">{{form.file.errors}}</div>
    </div>

    <button type="submit" class="btn" onclick="fun1()">Submit</button>
</form>
</div>

{%endblock%}              